.container {
    position: absolute;
    left: 10%;
    top: 50%;
    // margin-left: 50px;
    transform: translateY(-50%);
    width: 100%;
    max-height: 90%;
    color: black;

    p {
        font-size: 18px;
        width: 60%
    }

    h1 {
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }

    h3 {
        font-size: 30px
    }
    
    .download-button {
        display: inline-block;
        color: #0056b3;
        text-decoration: underline;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }

    .download-button:hover {
        color: #4fa3f7;
    }

    .best-self-preview {
        position: relative;
        cursor: pointer;
        display: inline-block;
        border: 2px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 10px;
    }

    .best-self-preview p {
        color: #0056b3;
        text-align: center;
        margin: 0;
    }

    .best-self-preview:hover {
        background-color: #f0f0f0;
    }

    .best-self-preview p:hover {
        color: #4fa3f7;
    }
}