.container {
    position: absolute;
    left: 10%;
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
    width: 100%;
    max-height: 90%;
    color: black;

    h1 {
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
    p {
        width: 60%;
    }
}